/*<meta />*/

body
{
	color: #404040;
	font-family: Arial;
	font-size: 8pt;
	line-height: 13px;
	margin: 8px;
}

blockquote
{
	background-color: #bed230;
	background-image: url('../Images/QuotationMark.png');
	background-repeat: no-repeat;
	background-position: top left;
	border-bottom: none;
	border-left-color: #a4ac67;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: #a4ac67;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: #a4ac67;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-top-style: solid;
	border-top-width: 1px;
	font-family: 'Century Gothic';
	font-size: 0.9em;
	font-style: italic;
	font-weight: normal;
	line-height: 18px;
	margin: 20px;
	margin-bottom: 0px;
	margin-left: 32px;
	padding-bottom: 0px;
	padding-left: 35px;
	padding-right: 35px;
	padding-top: 12px;
}

blockquote.name
{
	background-image: none;
	border-bottom-color: #a4ac67;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-top: none;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	margin-bottom: 20px;
	margin-top: 0px;
	padding-bottom: 12px;
	padding-right: 35px;
	padding-top: 8px;
	text-align: right;
}

h1
{
	column-break-before: always;
	font-size: 12pt;
	font-weight: normal;
	margin-bottom: 4px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	padding-top: 28px;
	page-break-before: avoid;
}

h1.DarkBackground
{
	color: #e1e1e1;
}

h1.DarkBackgroundNoBreak
{
	color: #e1e1e1;
	column-break-before: avoid;
	padding-top: 10px;
}

h2
{
	font-size: 10pt;
	font-weight: normal;
	margin-bottom: 4px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 16px;
	mc-heading-level: 0;
}

li
{
	margin-bottom: 6px;
	margin-right: 12px;
	margin-top: 6px;
	orphans: 2;
	widows: 2;
}

li.DarkBackground
{
	color: #e1e1e1;
	margin-bottom: 6px;
	margin-right: 12px;
	margin-top: 6px;
	orphans: 2;
	widows: 2;
}

ol
{
	list-style-image: none;
	margin-left: 60px;
}

p
{
	margin-bottom: 8px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 8px;
}

p.CompanyInfo1
{
	font-size: 7pt;
	margin-bottom: 12px;
	margin-left: 25px;
	padding-top: 20px;
}

p.CompanyInfo2
{
	font-size: 7pt;
	margin-bottom: 12px;
	margin-left: 25px;
	margin-top: 0px;
}

p.CompanyInfo3
{
	font-size: 7pt;
	margin-bottom: 0px;
	margin-left: 25px;
	margin-top: 0px;
}

p.CreatedUsingFlare
{
	font-size: 7pt;
	font-weight: bold;
	margin-top: 18px;
}

p.DarkBackground
{
	color: #e1e1e1;
	margin-left: 20px;
}

p.Example
{
	background-color: #bed230;
	border-bottom-color: #a4ac67;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: #a4ac67;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: #a4ac67;
	border-right-style: solid;
	border-right-width: 1px;
	margin-top: 0px;
	padding-bottom: 14px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 6px;
}

p.ExampleHead
{
	background-color: #bed230;
	border-left-color: #a4ac67;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: #a4ac67;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: #a4ac67;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-top-style: solid;
	border-top-width: 1px;
	font-size: .9em;
	font-weight: bold;
	letter-spacing: 5px;
	margin-bottom: 0px;
	margin-top: 6px;
	padding-bottom: 6px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 14px;
	page-break-after: avoid;
}

p.ExampleMiddleSection
{
	background-color: #bed230;
	border-left-color: #a4ac67;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: #a4ac67;
	border-right-style: solid;
	border-right-width: 1px;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-bottom: 6px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 6px;
}

p.FrameFooterImages
{
	margin-left: 15px;
	margin-right: 25px;
}

p.ManualTitle1
{
	column-break-before: always;
	font-family: 'Century Gothic';
	font-size: 14pt;
	margin-bottom: 0;
	margin-left: 50px;
	padding-top: 60px;
}

p.ManualTitle2
{
	color: #bed230;
	font-family: 'Century Gothic';
	font-size: 22pt;
	line-height: 0;
	margin-bottom: 0;
	margin-left: 50px;
	margin-top: 0;
}

span.DarkGreen
{
	color: #5e6914;
	font-weight: bold;
}

span.Emphasis
{
	font-weight: bold;
}

span.LightGreen
{
	color: #bed230;
	font-weight: bold;
}

ul
{
	list-style-image: url('../Images/BulletDark.eps');
	margin-left: 60px;
}

ul.DarkBackground
{
	list-style-image: url('../Images/BulletLight.eps');
	margin-left: 60px;
}


